/* home.css */
body {
    margin: 0;
    padding: 0;
    background-color: #00001c;
    /* Deep blue background color */
    font-family: Arial, sans-serif;
}

.navbar {
    text-align: center;
    background-color: #58585b;
    padding: 20px 0;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #00FFFF;
    font-size: 18px;
    position: relative;
    transition: text-shadow 0.3s ease-in-out;
}

.navbar ul li a.active {
    font-weight: bold;
}

.navbar ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00FFFF;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    
}

.navbar ul li a:hover {
    text-shadow: 0 0 8px #00FFFF;
}

.navbar ul li a:hover::before {
    transform: scaleX(1);
    /* Expand the underline on hover */
}

.header {
    display: flex;
    justify-content: space-between; /* Distribute space between logo/paragraph and image */
    align-items: center;
    background-color: #00001c;
    /* Deep blue background color for the header */
    padding: 20px;
}

.logo-container {
    display: flex;
    flex-direction: column; /* Stack logo and paragraph vertically */
    justify-content: center;
    align-items: flex-start; /* Align items to the start (left) of the container */
}

.logo {
    color: #fafdfd;
    /* Cyan color for the logo text */
    font-size: 60px;
    /* Adjusted font size to make it bigger */
    font-weight: bold;
    margin-bottom: 10px; /* Added some margin between logo and paragraph */
}


.image-container {
   height: 200px; 
   margin-right: 20px;
}

.image-container img {
    width: 100%;
    height: 400px;
    margin-right: 20px
    ;
}

.buttons {
    text-align: center;
    margin-top: auto; /* Adjusted margin-top to 'auto' to push buttons to the bottom */
    position: absolute;
    bottom: 200px; /* Added a fixed distance from the bottom */
    left: 20%; /* Centering the buttons horizontally */
    transform: translateX(-50%); /* Adjusted centering for responsiveness */
}

.buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #00FFFF;
    /* Cyan color for button background */
    color: #000;
    /* Black color for button text */
    border: none;
    border-radius: 5px;
}
.description {
    color: #fafdfd;
    /* Adjusted text color for better visibility */
    font-size: 18px;
    max-width: 80%;
}